@model Sales_Management_System.ViewModels.ProductVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/product/SaveEdit/@Model.Id" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"value="@Model.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@Model.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierID" class="control-label">Supplier</label>
                <select asp-for="SupplierID" class="form-control">
                    <option value="">-- Select Supplier --</option>
                    @foreach (var supplier in Model.SupplierList)
                    {
                        <option value="@supplier.Id">@supplier.Name </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label">Category</label>
                <select asp-for="CategoryID" class="form-control">
                    <option value="">-- Select Category --</option>
                    @foreach (var category in Model.categoryList)
                    {
                        <option value="@category.Id">@category.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
