@model Sales_Management_System.ViewModels.StockVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreID)
        </dd>
    </dl>
</div>
<div>
    
    <a href="/stock/Index" class="btn btn-primary">Back to List</a>
</div>
